.navbar {
  // @include flexCenter;
  @apply absolute;
  @apply bg-transparent;
  @apply text-white;
  @apply border-t;
  @apply border-b;
  @apply border-white;
  @apply py-3;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  z-index: 1;
  min-width: max-content;
}

.nav-link{
  @apply px-3;
  @apply py-3;
  position: relative;
  z-index: 1;
}
// .nav-link::before,
// .nav-link::after{
//   content: '';
//   position: absolute;
//   border: 4px solid rgba(97, 255, 58, 0.418);
//   border-radius: 50%;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   transition: all 0.3s ease-in-out;
//   width: 0;
//   height: 0;
//   opacity: 0;
//   z-index: -1;
// }

// .nav-link:hover::before{
//   width: 30px;
//   height: 30px;
// }

// .nav-link:hover::after{
//   border-width: 2px;
//   width: 40px;
//   height: 40px;
// }

// .nav-link:hover::before,
// .nav-link:hover::after{
//   opacity: 1;
// }
