.about-me{
  // background: url('./assets/bg7.jpg') bottom;
  background: black;
  @include flexCenter;
  @apply flex-col;
  @apply text-white;
  @apply px-4;
  @apply pb-16;
  gap: 3rem;
  h2{
    @apply pt-32;
    // @apply pb-8;
    width: max-content;
    margin: 0 auto;
  }

  p{
    @apply text-center;
    max-width: 50ch;
    margin: 0 auto;
  }

  .stacks-wrapper{
    @apply mt-10; 
    h3{
      @apply pb-8;
      width: max-content;
      margin: 0 auto;
    }
    
    .stacks{
      // @include flexCenter;
      // @apply flex-wrap;
      // gap: 1rem;
      @apply grid;
      @apply text-center;
      gap: 1rem;
    }
  }

}