.about-me-preview {
  @apply text-white;
  @apply flex-col;
  @apply text-center;
  @apply px-4;
  @include flexCenter;
  gap: 3rem;
  
  min-height: 100vh;
  background: url('./assets/bg7.jpg');
  background-position: top;
  background-size: cover;

  p{
    max-width: 50ch;
    opacity: 0.9;
  }

  @media only screen and (min-width: 768px) {
    background-position: bottom;
  }

}

