main{
  // background: url('./assets/starry-dark.png');
  background: url('./assets/bg3.jpg');
  background-size: cover;
  background-position: top;
  // transform: scaleY(-1);
  // filter: FlipV;
  // -ms-filter: "FlipV";
  @apply flex;
  @apply items-center;
  @apply flex-col;
  @apply text-white;
  
  h2{
    // @apply text-4xl;
    @apply mt-12;
    @apply mb-8;
  }

}