@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/mixins';
@import './styles/Home/header';
@import './styles/Home/project-preview';
@import './styles/components/card';

.snap{
  height: 100vh;
  overflow: auto;
  scroll-snap-type: block mandatory;
  scroll-behavior: smooth;

  & > *{
    height: 100vh;
    scroll-snap-align: center;
  }
}