@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar {
  @apply absolute;
  @apply bg-transparent;
  @apply text-white;
  @apply border-t;
  @apply border-b;
  @apply border-white;
  @apply py-3;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
  z-index: 1;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.nav-link {
  @apply px-3;
  @apply py-3;
  @apply font-semibold;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-link::before,
.nav-link::after {
  content: '';
  position: absolute;
  border: 4px solid rgba(173, 151, 27, 0.808);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.nav-link:hover::before,
.nav-link:focus::before {
  width: 30px;
  height: 30px;
}

.nav-link:hover::after,
.nav-link:focus::after {
  border-width: 2px;
  width: 40px;
  height: 40px;
}

.nav-link:hover::before,
.nav-link:focus::before,
.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}

.active-link {
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.card {
  @apply text-white;
  @apply bg-cover;
  @apply overflow-hidden;
  padding: 6rem 0 0;
  max-width: 28ch;
  border-radius: 0.5rem;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.card-content {
  padding: 1.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(20%, rgba(41, 1, 161, 0.5)), color-stop(30%, rgba(9, 3, 27, 0.8)), to(#09031b));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(41, 1, 161, 0.5) 20%, rgba(9, 3, 27, 0.8) 30%, #09031b);
}

.card-content .button {
  @apply cursor-pointer;
  @apply inline-block;
  @apply text-black;
  @apply px-2;
  @apply py-1;
  text-decoration: none;
  background-color: #42f584;
  border-radius: 0.25rem;
}

.card-content .button:hover,
.card-content .button:focus {
  @apply bg-white;
}

@media (hover) {
  .card-content {
    -webkit-transform: translateY(74%);
            transform: translateY(74%);
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
  }
  .card:hover,
  .card:focus-within {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .card:hover .card-content,
  .card:focus-within .card-content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: 500ms;
            transition-delay: 500ms;
  }
  .card:hover .card-content *:not(.button),
  .card:focus-within .card-content *:not(.button) {
    opacity: 1;
    -webkit-transition-delay: 1000ms;
            transition-delay: 1000ms;
  }
  .card:focus-within .card-content {
    -webkit-transition-duration: 0ms;
            transition-duration: 0ms;
  }
  .card:focus-within .card-content *:not(.button) {
    -webkit-transition-delay: 500ms;
            transition-delay: 500ms;
  }
  .card:hover .card-title::after,
  .card:focus-within .card-title::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .card-content > *:not(.card-title) {
    opacity: 0;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
  }
}

.card-title {
  @apply relative;
  @apply text-2xl;
  @apply mb-2;
  @apply pb-1;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
}

.card-title::after {
  content: "";
  @apply absolute;
  height: 0.25rem;
  width: calc(100% + 1.5rem);
  left: -1.5rem;
  bottom: 0;
  background: #42f584;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.card-body {
  @apply text-base;
  @apply font-semibold;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  font-size: 0.90em;
}

.neon-button {
  @apply cursor-pointer;
  @apply relative;
  font-size: 1.25rem;
  color: #EF0888;
  border: #EF0888 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  z-index: 0;
  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0.25em #ff14bd;
  -webkit-box-shadow: inset 0 0 0.5em 0 #EF0888, 0 0 0.5em 0 #EF0888;
          box-shadow: inset 0 0 0.5em 0 #EF0888, 0 0 0.5em 0 #EF0888;
}

.neon-button::before {
  @apply absolute;
  pointer-events: none;
  content: '';
  background: #EF0888;
  width: 100%;
  height: 100%;
  top: 120%;
  left: 0;
  -webkit-transform: perspective(1.5em) rotateX(40deg) scale(1, 0.35);
          transform: perspective(1.5em) rotateX(40deg) scale(1, 0.35);
  -webkit-filter: blur(1.5em);
          filter: blur(1.5em);
  opacity: 0.7;
}

.neon-button::after {
  @apply absolute;
  content: '';
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(239, 8, 136, 0.9);
  z-index: -1;
  -webkit-box-shadow: 0 0 1.2em 0.5em #EF0888;
          box-shadow: 0 0 1.2em 0.5em #EF0888;
  opacity: 0;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}

@media (hover) {
  .neon-button:hover, .neon-button:focus {
    color: black;
    text-shadow: none;
  }
  .neon-button:hover::before, .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after, .neon-button:focus::after {
    opacity: 1;
  }
}

header {
  @apply bg-black;
  @apply overflow-hidden;
  height: 100vh;
}

header div {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply flex-col;
  @apply text-white;
  @apply h-full;
}

header div h1,
header div h2 {
  @apply relative;
  @apply overflow-hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  stroke-dasharray: 50px;
}

header div h1::before,
header div h2::before {
  @apply absolute;
  content: '';
  left: 10%;
  width: 120%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(5%, transparent), to(transparent));
  background: linear-gradient(90deg, transparent 0%, transparent 5%, transparent 100%);
}

header video {
  position: absolute;
  top: 2%;
  left: 1%;
}

.particles-wrapper {
  width: 100%;
  height: 100%;
  background: url("./assets/bg1.png") bottom;
  background-size: cover;
  -webkit-animation: fadeIn 3s ease forwards;
          animation: fadeIn 3s ease forwards;
}

.particles {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-aspect-ratio: 16 / 9) {
  video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  video {
    width: auto;
    height: 100%;
  }
}

.project-preview {
  background: url("./assets/bg4.jpg") center;
  background-size: cover;
  @apply flex;
  @apply items-center;
  @apply flex-col;
  @apply text-white;
  @apply overflow-hidden;
}

.project-preview h2 {
  @apply mt-8;
  @apply mb-4;
}

.about-me-preview {
  @apply text-white;
  @apply flex-col;
  @apply text-center;
  @apply px-4;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  gap: 3rem;
  min-height: 100vh;
  background: url("./assets/bg7.jpg");
  background-position: top;
  background-size: cover;
}

.about-me-preview p {
  max-width: 50ch;
  opacity: 0.9;
}

@media only screen and (min-width: 768px) {
  .about-me-preview {
    background-position: bottom;
  }
}

.contact-icons {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  gap: 1rem;
}

.contact-icons a {
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
  border: 0.125rem solid white;
  border-radius: 0.75em;
}

@media (hover) {
  .contact-icons a:hover,
  .contact-icons a:focus {
    background: rgba(255, 255, 255, 0.95);
    fill-opacity: 1;
  }
  .contact-icons a:hover:nth-of-type(1):hover path, .contact-icons a:hover:nth-of-type(1):focus path, .contact-icons a:hover:nth-of-type(2):hover path, .contact-icons a:hover:nth-of-type(2):focus path,
  .contact-icons a:focus:nth-of-type(1):hover path,
  .contact-icons a:focus:nth-of-type(1):focus path,
  .contact-icons a:focus:nth-of-type(2):hover path,
  .contact-icons a:focus:nth-of-type(2):focus path {
    fill: #1A1E22;
  }
  .contact-icons a:hover:nth-of-type(3):hover path, .contact-icons a:hover:nth-of-type(3):focus path,
  .contact-icons a:focus:nth-of-type(3):hover path,
  .contact-icons a:focus:nth-of-type(3):focus path {
    fill: #0073B1;
  }
  .contact-icons a:hover:nth-of-type(4):hover path, .contact-icons a:hover:nth-of-type(4):focus path,
  .contact-icons a:focus:nth-of-type(4):hover path,
  .contact-icons a:focus:nth-of-type(4):focus path {
    fill: #1A93E3;
  }
}

.icon {
  @apply cursor-pointer;
  width: 3rem;
  padding: 0.5rem;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
}

.icon path {
  fill: white;
  fill-opacity: 0.9;
  -webkit-transition: fill 200ms ease-in-out;
  transition: fill 200ms ease-in-out;
}

.projects {
  background: url("./assets/bg4.jpg") center;
  @apply text-white;
  min-height: 100vh;
}

.projects h2 {
  @apply pt-32;
  @apply pb-8;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.projects .projects-wrapper {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply flex-row;
  @apply flex-wrap;
}

.about-me {
  background: black;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply flex-col;
  @apply text-white;
  @apply px-4;
  @apply pb-16;
  gap: 3rem;
}

.about-me h2 {
  @apply pt-32;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.about-me p {
  @apply text-center;
  max-width: 50ch;
  margin: 0 auto;
}

.about-me .stacks-wrapper {
  @apply mt-10;
}

.about-me .stacks-wrapper h3 {
  @apply pb-8;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.about-me .stacks-wrapper .stacks {
  @apply grid;
  @apply text-center;
  gap: 1rem;
}

body {
  font-family: 'Poppins', sans-serif;
}

@media only screen and (min-width: 1024px) {
  .snap > * {
    height: 100vh;
  }
}
/*# sourceMappingURL=index.css.map */